<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">burak432</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link <%= pageName === 'index' && 'active' %>" aria-current="page" href="/">Home</a>
                <a class="nav-link <%= pageName === 'about' && 'active' %>" href="/about">About</a>
                <a class="nav-link <%= pageName === 'products' && 'active' %>" href="/products">Products</a>
                <a class="nav-link <%= pageName === 'addNew' && 'active' %>" href="/products/new">Add new</a>
            </div>
        </div>
    </div>
    </div>
</nav>