<%- include("partials/_header.ejs") -%>
    <%- include("partials/_navbar.ejs") -%>


        <div class="container">
            <div class="row">

                <div class="mt-5">
                    <h1>homepage</h1>
                    <h2>index.ejs file</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere praesentium quasi vero corporis
                        dolor
                        vitae magnam ipsa, et minima blanditiis!</p>
                </div>
            </div>
        </div>
        <%- include("partials/_footer.ejs") -%>